.bike-main{
    border: 2px solid #ccc;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 0px;
}

.bike-card-block {
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 0px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.bike-card {
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 270px;
    width: 252px;
    margin-right: 28px;
    margin-bottom: 16px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 9px;
}

.bike-card img{
    height: 137px;
    width: 238px;
    margin-bottom: 11px;
    cursor: pointer;
}

.bike-card h2{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0px;
    margin-bottom: 2px;
}

.name_bike{
    margin-bottom: 22px;
}
.button{
    display: flex;
    align-items: center;
    margin-left: 22px;
    
}
.button button,
.button img {
    margin-bottom: 10px;
    vertical-align: middle;
    margin-right: 10px;
}

button{
    background-color: #60AD53;
    border-radius: 8px;
    height: 22px;
    width: 123px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    border: 0px solid #000000;
    color: white;
    transition: font-weight 0.3s ease;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    border: 1px solid #000000;
    background-color: #42793A;
}

.card_porivn{
    height: 24px;
    width: 24px;
}
.card_like{
    height: 24px;
    width: 24px;
}

#card_porivn{
    height: 24px;
    width: 24px;
}
#card_like{
    height: 24px;
    width: 24px;
}