.Filter {
  flex-direction: column;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  max-width: 458px;
  width: 458px;
  flex: 0 0 auto;
}
  
  .Arrow {
    transition: transform 0.4s;
  }
  
  .ArrowRotated {
    transform: rotate(180deg);
  }

  .FilterHeader {
    color: #689F38;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  .checkbox-list {
    list-style-type: none; /* Приховати маркери списку */
    padding: 0; /* Знуляти відступи списку */
  }

  .checkbox-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  }

  .checkbox-input {
    position: absolute;
    opacity: 0;
  }

  .custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .checkbox-input:checked + .custom-checkbox::before {
    content: '\2713';
    display: block;
    text-align: center;
    line-height: 20px;
    color: #689F38;
  }


.price_input{
  border: 1px solid #000000;
  border-radius: 8px;
  height: 25px;
  width: 112px;
  color: #000000;
  font-family: 'Inter', sans-serif; 
  font-size: 16px;
  opacity: 0.35;
}
.filterfrice{
  display: flex;
  align-items: center;
  align-items: baseline;
}
.filterfrice p{
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Inter', sans-serif; 
  font-size: 20px;
  
}